<h1>hi</h1>
<style>* {cursor: url(https://cur.cursors-4u.net/toons/too-7/too624.cur), auto !important;}</style><a href="https://www.cursors-4u.com/cursor/2008/12/08/family-guy-peter-griffin.html" target="_blank" title="Family Guy -  Peter Griffin"><img src="https://cur.cursors-4u.net/cursor.png" alt="Family Guy -  Peter Griffin" style="position:absolute; top: 0; right: 0;" /></a>